# Ignore node modules and build files
node_modules/
dist/
build/

# Ignore sensitive configuration files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore editor-specific files
.vscode/
.idea/

# Ignore coverage reports
coverage/
*.lcov
.nyc_output/

# Ignore cache and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore compressed files
*.zip
*.tar.gz
*.rar

# Ignore compiled files (e.g., TypeScript or Babel output)
*.tsbuildinfo
.cache/


# .mern-blogging-web-firebase-adminsdk-6n04c-fbb88be2fa.json

mern-blogging-web-firebase-adminsdk-6n04c-fbb88be2fa.json
